.content {
  background-color: var(--dark-home-bg-color);
  height: calc(100vh - 90px);
  padding: 16px;
  overflow: auto;
}
.wrapper {
  min-height: calc(100vh - 210px);
}

@media (max-width: 768px) {
  .content {
    height: calc(100vh - 90px);
    padding: 10px;
  }
}
